{% extends  'base.html' %}

{% block content %}


<br />
<h2>Create Product</h2>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
  {% csrf_token %}
Title:
<br />
<input type="text" name="title"/>
<br />
Text:
<br />
<input type="textbox" name="text"/>
<br />
URL:
<br />
<input type="text" name="url"/>
<br />
Icon:
<br />
<input type="file" name="icon"/>
<br />
Image:
<br />
<input type="file" name="image"/>
<br />
<br />
<input class="btn btn-primary" type="submit" value="Add Product" />
{% if error %}
<p class="text-warning">{{ error }}</p>
{% endif %}
</form>

{% endblock %}
